/* 기본 속성 */
:root {
  --base-font-family: "SUIT Variable", sans-serif;
  --base-font-size: 16px;
  --base-color: #181818;
  --input-font-size: 14px;
  --input-height: 45px;
  --input-border-color: #dadada;
  --input-background-color: #fff;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
option,
button {
  font: inherit;
}
body {
  margin: 0;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
  padding-top: 12rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}
/* 네이버 로그인 폼 */
.naver-login-form {
  width: 31.25rem;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
/* 인풋요소 */
input {
  width: 100%;
  font-size: var(--input-font-size);
  height: var(--input-height);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  padding-left: 20px;
}
#password {
  margin-top: 5px;
}
/* 이미지 */
.logo-img {
  width: 14.375rem;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* 버튼 디자인 */
.login-button {
  width: 100%;
  font-size: 16px;
  height: 45px;
  color: #fff;
  background-color: #03cf5d;
  text-align: center;
  border: none;
  margin-top: 20px;
}
/* 로그인 셋팅 리스트 */
.login-settings-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  li {
    margin-top: 0.625rem;
  }
}
.login-keep {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fas {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  color: var(--input-border-color);
  border: 1px solid var(--input-border-color);
  border-radius: 50%;
  padding-top: 2px;
}

/* 모바일 스타일 */
@media (max-width: 767px) {
  .naver-login-form {
    width: 100%;
  }
  .login-security {
    display: none;
  }
  .login-keep {
    position: absolute;
    right: 0;
    top: 0; /* 상단에 고정 */
    margin-top: 20px; /* 원하는 만큼의 여백 추가 */
  }
}
/* 호버 포커스 단위바꾸기  */
