body {
  background-color: #f4f4f4;
}
section {
  position: relative;
}
img {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}
.access-img-button {
  width: 64px;
  height: 64px;
  position: relative;
}
.access-button {
  width: 18px;
  height: 18px;
  background-color: #4cfe88;
  border: 0.5px solid white;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.access-img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.access-img-button {
  float: left;
}
.access-boy-box .access-img-button {
  margin-top: 20px;
}
.access-boy-box .access-img-button:nth-child(n + 2) {
  margin-left: 20px;
}
.access-girl-box .access-img-button:nth-child(n + 2) {
  margin-left: 20px;
}
.access-boy-box .access-img-button:nth-child(-n + 2) .access-button {
  background-color: #dbdbdb;
}
.access-girl-box .access-img-button:nth-child(odd) .access-button {
  background-color: #dbdbdb;
}
